<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Page not found</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/static/404/404.css" rel="stylesheet" type="text/css">

</head>

<body>
    <div class="utility-wrapper">
        <div class="utility-container">
            <div class="text-mono">404</div>
            <div class="utility-content">
                <h1>Page not found!!!<br></h1>
                <p>The page you are looking for doesn't exist or has been moved.</p>
            </div>
        </div>
    </div>
</body>

</html>