<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Error connecting to database</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/static/404/404.css" rel="stylesheet" type="text/css">

</head>

<body>
    <div class="utility-wrapper">
        <div class="utility-container">
            <div class="text-mono">500</div>
            <div class="utility-content">
                <h1>Error conneting to database<br></h1>
                <p>Please setup the mySQL server correctly...</p>
            </div>
            <div>
                
            </div>
        </div>
    </div>
</body>

</html>